# exclude everything except directory foo/bar
bower_components
vendor
/ftp-deployment
/deployment.*
/ftp
composer*
gulp*
bower*
/fotky
.buildpath
.project
/nbproject/private/
/nbproject/
/www/cache/
/www/photos/upload/
/.idea/