.show{
    display:block;
}
.jidelnicek{
    display: none;
}
.bezobjednavkova{
    color: white;
    background-color: #007E33;

}
.minutka{
    color: white;
    background-color: #0099CC;
}
.specialita{
    color: white;
    background-color: #CC0000;
}
