.show{
    display:block;
}
.jidelnicek{
    display: none;
}
.bezobjednavkova{
    color: black;
    background-color: #42BE00;

}
.minutka{
    color: black;
    background-color: #008976;
}
.specialita{
    color: black;
    background-color: #DB2600;
}
