.show {
		display: block;
}

.hide-day {
		display: none !important;
}

.jidelnicek {
		display: none;
}

.bezobjednavkova {
		color: white;
		background-color: #007E33;
}

.minutka {
		color: white;
		background-color: #0099CC;
}

.specialita {
		color: white;
		background-color: #CC0000;
}

.reklama img {
	width: 100%;
	height: auto;
}

.fotacek:hover {
	color: #337ab7;
}

.eu-cookies {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		color: white;
		background-color: black;
		z-index: 1000;
}

.eu-cookies button {
		background: green;
		color: white;
}
