.show {
		display:block;
}

.jidelnicek {
		display: none;
}

.bezobjednavkova {
		color: white;
		background-color: #007E33;
}

.minutka {
		color: white;
		background-color: #0099CC;
}

.specialita {
		color: white;
		background-color: #CC0000;
}

.reklama img {
	width: 100%;
	height: auto;
}

.fotacek {
	float: right;
	padding-right: 15px;
}

.fotacek:hover {
	color: #337ab7;
}

.cena {
	float: right;
	padding-right: 20px;
}
