{layout '@layout.latte'}
{block body}
	<div class="container-fluid">
		<header class="row">
			{include 'days-navigation.latte'}
		</header>
		<div class="content row">
			{include 'day-offer.latte'}
		</div>
		<footer class="row">
			{include 'footer.latte'}
		</footer>
	</div>
{/block}
